body {
  font-family: 'Roboto', sans-serif;
  background-color: #004878;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: auto; /* Atur margin menjadi auto untuk posisi tengah */
  margin-top: 40px; /* Atur margin-top sesuai dengan keinginan */
  margin-bottom: 40px;
}


.form-container header img {
  width: 90px;
  height: auto;
}

.form-container header {
  text-align: center;
  margin-bottom: 20px;
}

.form-container h1 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600; /* Atur tebal huruf menjadi semi-bold */
  text-align: center; /* Atur teks menjadi berada di tengah */
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 12px; /* Mengatur corner radius menjadi 15px */
  font-size: 15px;
}


.input-group input#birth_date,
.input-group select#gender {
  width: calc(50% - 50px);
  display: inline-block; /* Agar elemen berdampingan */
  margin-right: 10px; /* Jarak kanan antar elemen */
}


.input-group button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #004878;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.input-group button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


h2 {
  text-align: center;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmc%2B%)
}

.input-group select {
  width: calc(50% - 50px);
  display: inline-block;
  margin-right: 10px;
  position: relative; /* Add this line */
}

.input-group select + span { /* Add this rule for the icon */
  position: absolute;
  top: 500%;
  right: 200px; /* Adjust the right value as needed */
  transform: translateY(-50%);
}

.input-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
